<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="AgrocomercioConnectionString" connectionString="Data Source=STEVEN;Initial Catalog=agrocomercio;User ID=agrocomercio;Password=agro;" providerName="System.Data.SqlClient" />
    <add name="pryAgrocomercioDAL.Properties.Settings.AgrocomercioConnectionString" connectionString="Data Source=STEVEN;Initial Catalog=Agrocomercio;Persist Security Info=True;User ID=agrocomercio;Password=agro" providerName="System.Data.SqlClient" />
  <add name="AgrocomercioEntities" connectionString="metadata=res://*/Agrocomercio.csdl|res://*/Agrocomercio.ssdl|res://*/Agrocomercio.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=STEVEN;Initial Catalog=Agrocomercio;Persist Security Info=True;User ID=agrocomercio;Password=agro;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>