<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AgrocomercioEntities" connectionString="metadata=res://*/Agrocomercio.csdl|res://*/Agrocomercio.ssdl|res://*/Agrocomercio.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\MSSQLSERVER1;Initial Catalog=agrocomercio;User ID=agrocomercio;Password=agro;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AgrocomercioConnectionString" connectionString="Data Source=.\MSSQLSERVER1;Initial Catalog=agrocomercio;User ID=agrocomercio;Password=agro;"
      providerName="System.Data.SqlClient" />
    <add name="pryAgrocomercioDAL.Properties.Settings.AgrocomercioConnectionString"
      connectionString="Data Source=.\MSSQLSERVER1;Initial Catalog=Agrocomercio;Persist Security Info=True;User ID=agrocomercio;Password=agro"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>